<div class="ui-g ui-widget ui-widget-content ui-corner-all">
    <div class="ui-g-12">
        <span class="float-left"><b>© {{ today | date: 'yyyy' }} - CASTREC Pierre</b></span>
        <span class="float-right">Powered by
            <b>Angular</b>
        </span>
    </div>
</div>