<div class="text-center">
    <h2>Formations</h2>
</div>

<div *ngFor="let f of formation">
    <p-panel [toggleable]="true">
        <p-header>{{f.year}}</p-header>
        <p>{{f.school}}</p>
        <p>{{f.title}}</p>
    </p-panel>
    <br>
</div>