<div class="text-center">
    <h2>Loisirs</h2>
</div>

<p-panel [toggleable]="true" collapsed="true">
    <p-header>ThreeJS Game -
        <a href="https://bitbucket.org/3pwood/multiplayer_template/src/master/">Bitbucket</a>
    </p-header>
    <p>
        Développement d'un browser game multiplayer
        avec les outils suivants :
    </p>
    <ul>
        <li><a href="http://threejs.org">ThreeJS</a> est une bibliothèque JavaScript pour créer des scènes 3D dans un navigateur web. Elle peut être utilisée avec la balise canvas du HTML5 sans avoir besoin d'un plugin. Le code source est hébergé sur le GitHub de son créateur mrDoob.</li>
        <br>
        <li><a href="https://nodejs.org/en/">Node</a> est un environnement d'exécution JavaScript construit sur le moteur JavaScript V8 de Chrome. Node.js utilise un modèle basé sur l'événementiel et des entrées/sorties non bloquantes, ce qui le rend léger et efficace.</li>
        <br>
        <li><a href="https://socket.io/">Socket.io</a> est une bibliothèque JavaScript pour créer des applications temps réelles</li>
        <br>
        <li><a href="https://mlab.com/">mLab</a> est un service de base de données de cloud entièrement géré qui héberge des bases de données MongoDB. mLab fonctionne sur les fournisseurs de cloud Amazon, Google et Microsoft Azure, et s'est associé à des fournisseurs de plate-forme en tant que service.</li>
        <br>
    </ul>
</p-panel>