<header>
    <app-header></app-header>
</header>
<main>
    <div class="ui-g">
        <div class="ui-g-10 ui-g-offset-1">
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<footer>
    <app-footer></app-footer>
</footer>