<p-menubar [model]="items" class="basicMenu">
    <a href="https://bitbucket.org/3pwood/" class="no-padding">
        <img border="0" alt="bitbucket" src="assets/bitbucket.svg" height="32" width="32">
    </a>
</p-menubar>

<p-menubar [model]="iconItems" class="iconMenu">
    <a href="https://bitbucket.org/3pwood/" class="no-padding">
        <img border="0" alt="bitbucket" src="assets/bitbucket.svg" height="32" width="32">
    </a>
</p-menubar>