<div class="text-center">
    <h2>Compétences</h2>
</div>

<p-panel header="Langages et Technologies" [toggleable]="true">
    <p-table [value]="skill">
        <ng-template pTemplate="body" let-s>
            <tr>
                <td>{{s.name}}</td>
                <td><p-rating [ngModel]="s.rate" readonly="true" stars="10" [cancel]="false"></p-rating></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>

<br>

<p-panel header="Base de donnée" [toggleable]="true">
    <p-table [value]="bdd">
        <ng-template pTemplate="body" let-b>
            <tr>
                <td>{{b.name}}</td>
                <td><p-rating [ngModel]="b.rate" readonly="true" stars="10" [cancel]="false"></p-rating></td>
            </tr>
        </ng-template>
    </p-table>
</p-panel>