/* LAYOUT */
html, body {
    margin: 0;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
app-root, app-view {
    margin: 0;
    height: 100%;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}
header {
    flex: 0 0 auto;
}
main {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
}
footer {
    flex: 0 0 auto;
}
.container {
    padding: 3rem;
}
/* COMMONS */
.text-center {
    text-align: center;
}
.text-right {
    text-align: end;
}
.text-left {
    text-align: start;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
a { text-decoration: none }

.ui-menubar-custom {
    padding: 0 !important;
}