<br>

<p-card title="Pierre CASTREC" subtitle="Développeur" styleClass="ui-card-shadow">
    <p-header>
        <img src="assets/profil.png" class="profile">
    </p-header>

    <div class="ui-g" style="margin-top: 45px">
        <div class="ui-g-4 ui-sm-12">
            <p-fieldset legend="Contact">
                <ul>
                    <li>{{contact.street}}</li>
                    <li>{{contact.city}}</li>
                    <li>{{contact.tel}}</li>
                    <li>{{contact.mail}}</li>
                    <li>
                        <a href="https://bitbucket.org/3pwood/">Bitbucket</a>
                    </li>
                </ul>
            </p-fieldset>
        </div>

        <div class="ui-g-8 ui-sm-12">
            <p-fieldset legend="Présentation">
                {{prez}}
            </p-fieldset>
        </div>
    </div>

    <p-footer>
        <button pButton (click)="showDialog()" type="button" label="View" icon="fa fa-file-pdf-o"></button>
    </p-footer>
</p-card>

<p-dialog [(visible)]="display" [width]="winWidth">
    <p-header>
        <a href="/assets/cv_2018.pdf" download>
            <button pButton type="button" label="Télécharger" icon="fa fa-file-pdf-o"></button>
        </a>
    </p-header>
    <pdf-viewer [src]="pdf"></pdf-viewer>
</p-dialog>