<div class="text-center">
        <h2>Expériences</h2>
    </div>
    
    <div *ngFor="let e of experience">
        <p-panel [toggleable]="true">
            <p-header>{{e.year}} - {{e.duration}}</p-header>
            <p>{{e.society}}</p>
            <p>{{e.project}}</p>
        </p-panel>
        <br>
    </div>